.header__slider, .slider__button--left, .slider__button--right, .item__button::after {
  background-position: center;
  background-repeat: no-repeat; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  background: #f2f9ff;
  font-family: "Poppins";
  font-size: 13px;
  color: #fff; }

a {
  text-decoration: none;
  color: inherit; }

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.header {
  position: relative;
  height: 800px;
  padding: 48px 20px 0;
  color: #fff;
  border-bottom-left-radius: 200px;
  background-color: #008aff; }
  .header__logo {
    width: 60px;
    height: 28px;
    margin-right: 64px; }
  .header__nav {
    max-width: 1024px;
    margin: 0 auto 42px; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1024px;
    margin: 0 auto; }
  .header__description {
    margin-top: 120px; }
  .header__title {
    width: 490px;
    height: 136px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__text {
    width: 460px;
    height: 81px;
    margin-bottom: 56px;
    font-family: "Open sans";
    font-size: 18px;
    line-height: 150%; }
  .header__button {
    width: 226px;
    height: 50px;
    font-family: "Poppins";
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    border-radius: 64px;
    border: none;
    color: #fff;
    background: #ff9c8e;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__button:hover {
      background-color: #fff; }
    .header__button:hover {
      color: #008aff; }
  .header__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43%;
    min-width: 500px;
    height: 680px;
    border-top-left-radius: 200px;
    background-image: url(../images/slider/slider_1.png);
    background-size: cover; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1024px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .nav__item:last-of-type {
    margin-left: 6vw; }
  .nav__link {
    color: #fff;
    white-space: nowrap;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #ff9c8e; }
    .nav__link--active {
      position: relative; }
      .nav__link--active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 2px;
        border-radius: 4px;
        background-color: #ff9c8e;
        width: 100%; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .slider__button {
    width: 32px;
    height: 32px;
    margin-top: 570px;
    border-radius: 50%;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
    outline: none; }
    .slider__button--left {
      margin-left: 48px;
      background-image: url("../images/slider/vector_l.png"); }
    .slider__button--right {
      margin-left: 8px;
      background-image: url("../images/slider/vector_r.png"); }
    .slider__button:hover {
      border: 1px solid #008aff; }
    .slider__button:active {
      background-color: #008aff; }
  .slider__photo-info {
    margin-left: 24px;
    margin-top: 564px; }
  .slider__subtitle {
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase; }
  .slider__text {
    font-family: "Open sans";
    font-size: 14px;
    line-height: 20px;
    width: 264px; }

.welcome {
  margin: auto; }
  .welcome__wrapper {
    margin: 148px auto;
    max-width: 754px; }
  .welcome__subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .welcome__text {
    font-family: "Open sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

.expertise {
  margin: 0 auto;
  background-color: #fff; }
  .expertise__wrapper {
    max-width: 1200px;
    margin: 0 10%;
    padding-top: 128px; }
  .expertise__subtitle {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #253757; }
  .expertise__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.card {
  height: 355px;
  width: 264px;
  margin-bottom: 134px; }
  .card__img {
    display: block;
    margin: 0 auto 40px;
    border-radius: 25px; }
  .card__description {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #253757; }
  .card__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }

.process {
  margin: 0 2vw;
  height: 754px;
  padding-top: 148px; }
  .process__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .process__block-text {
    max-width: 362px;
    margin-top: 132px;
    position: relative; }
    .process__block-text::before {
      content: "Process";
      position: absolute;
      top: -32px;
      left: 0;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #c0cdd7; }
  .process__subtitle {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #253757; }
  .process__text {
    font-family: "Open sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6c788b; }
  .process__items {
    max-width: 560px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 264px);
    grid-template-rows: repeat(auto-fill, 264px);
    grid-gap: 30px; }

.item {
  position: relative;
  height: 264px;
  width: 264px;
  padding: 0 32px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .item__number {
    display: inline-block;
    width: 46px;
    height: 24px;
    margin: 32px 0 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    border-radius: 23px; }
    .item__number--yellow {
      background-color: rgba(252, 201, 29, 0.1);
      color: #fcc91d; }
    .item__number--blue {
      background-color: rgba(86, 204, 242, 0.1);
      color: #56ccf2; }
    .item__number--green {
      background-color: rgba(21, 216, 80, 0.1);
      color: #15d850; }
    .item__number--red {
      background-color: rgba(243, 99, 99, 0.1);
      color: #f36363; }
  .item__text {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
  .item__button {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 32px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer; }
    .item__button--yellow {
      background: #fcc91d; }
    .item__button--blue {
      background: #56ccf2; }
    .item__button--green {
      background: #15d850; }
    .item__button--red {
      background: #f36363; }
    .item__button::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
      height: 16px;
      width: 16px;
      background-image: url("../images/features/Vector.svg");
      background-size: cover; }
    .item__button::before {
      content: "Learn more";
      position: absolute;
      bottom: 50%;
      left: 50%;
      -webkit-transform: translate(50%, 50%);
              transform: translate(50%, 50%);
      white-space: nowrap;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #334563; }
  .item:nth-child(1), .item:nth-child(3) {
    -webkit-transform: translateY(132px);
            transform: translateY(132px); }

.approach {
  margin: 0 auto;
  height: 976px;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  background-color: #ff9c8e; }
  .approach__wrapper {
    margin: 0 auto;
    max-width: 1024px; }
  .approach__block-text {
    width: 362px;
    height: 568px; }
  .approach__subtitle {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px; }
  .approach___paragraph {
    font-family: "Open sans";
    font-weight: normal;
    font-size: 15px;
    line-height: 22px; }

/*# sourceMappingURL=main.css.map */
