.header__slider, .slider__button--left, .slider__button--right, .service__button::after, .approach__paragraph--1::before, .approach__paragraph--2::before, .approach__paragraph--3:before, .person__text--1::before, .person__text--2::before, .person__text--3::before {
  background-position: center;
  background-repeat: no-repeat; }

.header__slider, .nav__link--active::after, .service__button::after, .approach__paragraph--1::before, .approach__paragraph--2::before, .approach__paragraph--3:before, .approach__image, .person__wrap-img--1::before, .person__wrap-img--1::after, .person__wrap-img--2::before, .person__wrap-img--2::after, .person__wrap-img--3::before, .person__wrap-img--3::after, .person__text--1::before, .person__text--2::before, .person__text--3::before, .vision > .vision__decor-box:nth-child(1), .vision > .vision__decor-box:nth-child(2), .vision > .vision__decor-box:nth-child(3), .vision > .vision__decor-box:nth-child(4), .vision > .vision__decor-box:nth-child(5), .vision > .vision__decor-box:nth-child(6), .vision > .vision__decor-box:nth-child(7), .vision > .vision__decor-box:nth-child(8), .vision > .vision__decor-box:nth-child(9), .vision > .vision__decor-box:nth-child(10), .vision > .vision__decor-box:nth-child(11), .vision > .vision__decor-box:nth-child(12) {
  content: "";
  position: absolute; }

.process__decor-text, .approach__decor-text, .testimonials__decor-text, .person__company {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  background: #f2f9ff;
  font-family: "Poppins";
  font-size: 13px;
  color: #fff; }

a {
  text-decoration: none;
  color: inherit; }

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
pre {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.header {
  position: relative;
  height: 800px;
  padding: 48px 20px 0;
  color: #fff;
  border-bottom-left-radius: 200px;
  background-color: #008aff; }
  .header__logo {
    width: 60px;
    height: 28px;
    margin-right: 64px; }
  .header__nav {
    max-width: 1024px;
    margin: 0 auto 42px; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1024px;
    margin: 0 auto; }
  .header__description {
    margin-top: 120px; }
  .header__title {
    width: 490px;
    height: 136px;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__text {
    width: 460px;
    height: 81px;
    margin-bottom: 56px;
    font-family: "Open sans";
    font-size: 18px;
    line-height: 150%; }
  .header__slider {
    right: 0;
    bottom: 0;
    width: 43%;
    min-width: 500px;
    height: 680px;
    border-top-left-radius: 200px;
    background-image: url(../images/slider/slider_1.png);
    background-size: cover; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1024px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .nav__item:last-of-type {
    margin-left: 6vw; }
  .nav__link {
    color: #fff;
    white-space: nowrap;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #ff9c8e; }
    .nav__link--active {
      position: relative; }
      .nav__link--active::after {
        display: block;
        bottom: -8px;
        left: 0;
        height: 2px;
        border-radius: 4px;
        background-color: #ff9c8e;
        width: 100%; }

.button {
  width: 226px;
  height: 50px;
  font-family: "Poppins";
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  border-radius: 64px;
  border: none;
  color: #fff;
  background: #ff9c8e;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .button:hover {
    background-color: #fff; }
  .button:hover {
    color: #008aff; }
  .button:hover {
    -webkit-box-shadow: inset 0 0 5px #ff9c8e;
            box-shadow: inset 0 0 5px #ff9c8e; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .slider__button {
    width: 32px;
    height: 32px;
    margin-top: 570px;
    border-radius: 50%;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
    outline: none; }
    .slider__button--left {
      margin-left: 48px;
      background-image: url("../images/slider/vector_l.png"); }
    .slider__button--right {
      margin-left: 8px;
      background-image: url("../images/slider/vector_r.png"); }
    .slider__button:hover {
      border: 1px solid #008aff; }
    .slider__button:active {
      background-color: #008aff; }
  .slider__photo-info {
    margin-left: 24px;
    margin-top: 564px; }
  .slider__subtitle {
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 8px;
    text-transform: uppercase; }
  .slider__text {
    font-family: "Open sans";
    font-size: 14px;
    line-height: 20px;
    width: 264px; }

.welcome {
  margin: 0 auto; }
  .welcome__wrapper {
    margin: 148px auto;
    max-width: 1024px; }
  .welcome__block-text {
    max-width: 754px; }
  .welcome__subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .welcome__text {
    font-family: "Open sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

.expertise {
  margin: 0 auto;
  background-color: #fff; }
  .expertise__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 128px; }
  .expertise__subtitle {
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #253757; }
  .expertise__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 2vw; }

.card {
  height: 355px;
  width: 264px;
  margin-bottom: 134px; }
  .card__img {
    display: block;
    margin: 0 auto 40px;
    border-radius: 25px; }
  .card__description {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #253757; }
  .card__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }

.process {
  margin: 0 2vw;
  height: 754px;
  padding-top: 148px; }
  .process__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .process__block-text {
    max-width: 362px;
    margin-top: 132px; }
  .process__decor-text {
    color: #c0cdd7; }
  .process__subtitle {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #253757; }
  .process__text {
    font-family: "Open sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #6c788b; }
  .process__services {
    max-width: 560px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 264px);
    grid-template-rows: repeat(auto-fill, 264px);
    grid-gap: 30px;
    z-index: 1; }

.service {
  position: relative;
  height: 264px;
  width: 264px;
  padding: 0 32px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .service__number {
    display: inline-block;
    width: 46px;
    height: 24px;
    margin: 32px 0 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 2;
    text-transform: uppercase;
    text-align: center;
    border-radius: 23px; }
    .service__number--yellow {
      background-color: rgba(252, 201, 29, 0.1);
      color: #fcc91d; }
    .service__number--blue {
      background-color: rgba(86, 204, 242, 0.1);
      color: #56ccf2; }
    .service__number--green {
      background-color: rgba(21, 216, 80, 0.1);
      color: #15d850; }
    .service__number--red {
      background-color: rgba(243, 99, 99, 0.1);
      color: #f36363; }
  .service__list {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    white-space: nowrap; }
  .service__button {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 32px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .service__button--yellow {
      background: #fcc91d; }
    .service__button--blue {
      background: #56ccf2; }
    .service__button--green {
      background: #15d850; }
    .service__button--red {
      background: #f36363; }
    .service__button::after {
      top: 50%;
      right: 50%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
      height: 16px;
      width: 16px;
      background-image: url("../images/features/Vector.svg");
      background-size: cover; }
    .service__button::before {
      content: "Learn more";
      position: absolute;
      bottom: 50%;
      left: 50%;
      -webkit-transform: translate(50%, 50%);
              transform: translate(50%, 50%);
      white-space: nowrap;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #334563; }
    .service__button:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .service:nth-child(1), .service:nth-child(3) {
    -webkit-transform: translateY(132px);
            transform: translateY(132px); }

.approach {
  margin: 0 auto;
  height: 976px;
  width: 90%;
  margin-right: 0;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  background-color: #ff9c8e;
  position: relative; }
  .approach__wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding-top: 240px; }
  .approach__block-text {
    max-width: 362px;
    margin-left: 0; }
  .approach__decor-text {
    color: #fff; }
  .approach__subtitle {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px; }
  .approach__paragraph {
    position: relative;
    width: 264px;
    margin-left: 98px;
    font-family: "Open sans";
    font-weight: normal;
    font-size: 15px;
    line-height: 22px; }
    .approach__paragraph--1::before {
      top: 14px;
      left: -96px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #fff;
      background-image: url("../images/features/icon-1.svg");
      background-size: cover; }
    .approach__paragraph--2::before {
      top: 14px;
      left: -96px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #fff;
      background-image: url("../images/features/icon-2.svg");
      background-size: cover; }
    .approach__paragraph--3:before {
      top: 14px;
      left: -96px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #fff;
      background-image: url("../images/features/icon-3.svg");
      background-size: cover; }
    .approach__paragraph:not(:last-child) {
      margin-bottom: 64px; }
  .approach__image {
    bottom: 0;
    right: 0;
    width: 45%;
    height: 65%;
    border-top-left-radius: 200px;
    background-image: url("../images/features/features-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

.testimonials {
  margin: 0 auto; }
  .testimonials__wrapper {
    max-width: 1024px;
    margin: 0 auto; }
  .testimonials__block-text {
    max-width: 200px;
    margin-top: 148px; }
  .testimonials__decor-text {
    color: #c0cdd7; }
  .testimonials__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .testimonials__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 85px; }

.person {
  width: 314px;
  height: 494px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .person__wrap-img {
    width: 140px;
    height: 140px;
    margin: 87px 87px 0;
    position: relative; }
    .person__wrap-img--1::before {
      width: 139px;
      height: 56px;
      top: 0;
      left: -50px;
      background: #56ccf2;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: 1; }
    .person__wrap-img--1::after {
      width: 139px;
      height: 56px;
      bottom: 0;
      right: -50px;
      background: #56ccf2;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: 1; }
    .person__wrap-img--2::before {
      width: 139px;
      height: 56px;
      top: 0;
      left: -50px;
      background: #fcc304;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: 1; }
    .person__wrap-img--2::after {
      width: 139px;
      height: 56px;
      bottom: 0;
      right: -50px;
      background: #fcc304;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: 1; }
    .person__wrap-img--3::before {
      width: 139px;
      height: 56px;
      top: 0;
      left: -50px;
      background: #f25656;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: 1; }
    .person__wrap-img--3::after {
      width: 139px;
      height: 56px;
      bottom: 0;
      right: -50px;
      background: #f25656;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg);
      z-index: 1; }
  .person__img {
    border-radius: 50%;
    border: 1px solid green;
    position: relative;
    z-index: 2; }
  .person__text {
    display: block;
    width: 250px;
    margin: 111px auto 0;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #6c788b;
    position: relative; }
    .person__text--1::before {
      right: 113px;
      top: -20px;
      width: 19px;
      height: 20px;
      background-image: url("../images/testimonials/quot_bl.svg");
      background-size: contain; }
    .person__text--2::before {
      right: 113px;
      top: -20px;
      width: 19px;
      height: 20px;
      background-image: url("../images/testimonials/quot_yl.svg");
      background-size: contain; }
    .person__text--3::before {
      right: 113px;
      top: -20px;
      width: 19px;
      height: 20px;
      background-image: url("../images/testimonials/quot_rd.svg");
      background-size: contain; }
  .person__name {
    margin: 16px auto 0;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
  .person__company {
    display: block;
    margin: 4px auto 0;
    color: #c0cdd7; }

.vision {
  height: 888px;
  margin: 0 auto;
  background-color: #fff;
  position: relative; }
  .vision > .vision__decor-box:nth-child(1) {
    left: 6%;
    top: 16%;
    width: 85px;
    height: 33px;
    border: 3px solid #f25656;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(2) {
    left: 10%;
    top: 35%;
    width: 45px;
    height: 18px;
    border: 2px solid #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(3) {
    left: 27%;
    top: 45%;
    width: 53px;
    height: 22px;
    border: 2px solid #bc04fc;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(4) {
    left: 15%;
    top: 60%;
    width: 65px;
    height: 20px;
    border: 5px solid #03d542;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(5) {
    left: 33%;
    top: 70%;
    width: 85px;
    height: 33px;
    border: 3px solid #f25656;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(6) {
    left: 20%;
    top: 15%;
    width: 30px;
    height: 14px;
    border: 2px solid #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(7) {
    left: 80%;
    top: 15%;
    width: 53px;
    height: 22px;
    border: 2px solid #bc04fc;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(8) {
    left: 88%;
    top: 44%;
    width: 45px;
    height: 18px;
    border: 2px solid yellow;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(9) {
    left: 84%;
    top: 34%;
    width: 85px;
    height: 33px;
    border: 4px solid #f25656;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(10) {
    left: 75%;
    top: 55%;
    width: 45px;
    height: 18px;
    border: 2px solid #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(11) {
    left: 79%;
    top: 65%;
    width: 53px;
    height: 22px;
    border: 3px solid #bc04fc;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision > .vision__decor-box:nth-child(12) {
    left: 55%;
    top: 75%;
    width: 45px;
    height: 18px;
    border: 2px solid yellow;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
  .vision__wrapper {
    max-width: 1024px;
    margin: 199px auto; }
  .vision__block-text {
    max-width: 754px;
    margin: 0 auto;
    padding: 199px 0 0;
    text-align: center; }
  .vision__subtitle {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757; }
  .vision__text {
    margin-bottom: 64px;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }

.footer {
  height: 867px;
  margin: -180px auto 0;
  border-top-right-radius: 200px;
  background-color: #008aff;
  position: relative; }
  .footer__wrapper {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #008aff; }

/*# sourceMappingURL=main.css.map */
